src/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/Faul" 
xmlns:tns="http://www.example.org/Faul" 
elementFormDefault="qualified">

	<complexType name="FaultType">
		<sequence>
			<element name="code" type="string"></element>
			<element name="desc" type="string"></element>
		</sequence>
	</complexType>

	<element name="HolaFault" type="tns:FaultType"></element>	

</schema>