src/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Response" 
xmlns:tns="http://www.example.org/Response" elementFormDefault="qualified">



	<complexType name="ResponseType">
		<sequence>
			<element name="HolaResp" type="string"></element>
		</sequence>
	</complexType>


	<element name="HolaResponse" type="tns:ResponseType"></element>	

</schema>